extends layout

block content
  h1= title
  br
  form(action="/create", method="POST", class="createForm")
    div
      <label for="title">Insert Quiz title
      <input type="text" name="quizTitle">
    br
    div
      <label for="title">Insert Quiz description
      <input type="text" name="quizDescription">
    br
    div
      <label for="question">Question
      <input type="text" name="question">
    br
    div
      <label for="answer1">Insert question answers
      div.answer-field
       <input type="text" name="answer1">
       <input type="checkbox" name="checked1">
      div.answer-field
       <input type="text" name="answer2">
       <input type="checkbox" name="checked2">
      div.answer-field
       <input type="text" name="answer3">
       <input type="checkbox" name="checked3">
      div.answer-field
        <input type="text" name="answer4">
        <input type="checkbox" name="checked4">
    br
    <input type="submit" name="submit" value="Create Quiz">

