doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav
        ul
          li 
            a.h-link(href="/") Home
          li
            a.h-link(href="/create") Create Quiz
          li
            a.h-link(href="/show") Show Quiz 
          li 
            a.h-link(href="/try") Try Quiz
  main
    block content
    
